@import "../constant";

$border: 1px solid silver;
.main-desks {
  margin: 30px auto;
  width: 80%;
  .desk-block {
    border: $border;
    margin-bottom: 10px;
    .desk-header {
      display: flex;
      padding: 5px;
      height: 100px;
      border-bottom: $border;
    }
    h2 {
      margin:10px;
      color: $color-font-header;
    }
    .left {
      width: 30%;
    }
    .center {
      width: 40%;
      display: flex;
      align-items: center;
    }
    .right {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
    .desk-state {
      height: 170px;
    }
  }
}
